.loader{
    z-index: 20;
    animation: load-finish 1.5s ease-in-out 4.5s forwards ;
}


.charger{
    animation: progress-bar 4.5s ease-out forwards;
}


@keyframes progress-bar{
 0%{
    width: 0%;
 }
 100%{
    width: 100%;
 }
}

@keyframes load-finish{
    0%{
        top: 0%;
        opacity: 100%;
    }
    100%{
        opacity: 0%;
        top: -100%;
    }
}